.airlast{
background:#081819;
padding:60px 130px;
font-family:"Mulish", sans-serif;

display:flex;
justify-content:flex-start;
align-items:center;
}

/* container */

.airlast-container{
display:flex;
flex-direction:column;
gap:20px;
max-width:900px;
}

/* text */

.airlast-text{
display:flex;
flex-direction:column;
gap:10px;
}

/* title */

.airlast-title{
color:#FFF;
font-size:36px;
font-weight:700;
letter-spacing:0.02em;
}

/* description */

.airlast-desc{
color:#FFF;
opacity:0.7;
font-size:16px;
line-height:26px;
max-width:887px;
letter-spacing:0.02em;
}

/* button */

.airlast-btn{
margin-top:10px;

display:inline-flex;
align-items:center;
justify-content:center;
gap:10px;

background:#00ADB5;
color:#FFF;

border:none;
border-radius:8px;

width:260px;
height:56px;

font-size:16px;
font-weight:600;
letter-spacing:0.04em;

cursor:pointer;

transition:all 0.3s ease;
}

/* hover */

.airlast-btn:hover{
background:#00979e;
}

/* icon */

.airlast-icon{
width:18px;
height:18px;
}