.hero{
position:relative;
padding:80px 20px;
font-family:"Mulish",sans-serif;
overflow:hidden;
}

.hero-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

/* MAIN HERO ROW */

.hero-wrapper{
max-width:1180px;
margin:auto;
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
}

/* LEFT */

.hero-left{
flex:1;
display:flex;
flex-direction:column;
gap:20px;
}

.breadcrumb{
font-size:15px;
color:#6B7280;
}

.breadcrumb span{
color:#00ADB5;
font-weight:600;
}

.hero-tag{
background:#EBFEFF;
color:#00ADB5;
font-size:13px;
padding:6px 16px;
border-radius:120px;
width:fit-content;
}

.hero-title{
font-size:46px;
font-weight:700;
color:#222831;
line-height:60px;
}

.hero-desc{
font-size:16px;
color:#393E46;
max-width:420px;
}

/* BUTTONS */

.hero-buttons{
display:flex;
gap:20px;
margin-top:10px;
}

.demo-btn{
display:flex;
align-items:center;
gap:10px;
background:#222831;
color:#fff;
border:none;
padding:16px 24px;
border-radius:12px;
cursor:pointer;
}

.action-btn{
padding:16px 28px;
border-radius:12px;
border:1px solid #222831;
background:#fff;
cursor:pointer;
}

/* RIGHT */

.hero-right{
flex:1;
display:flex;
justify-content:flex-end;
}

.hero-right img{
width:520px;
max-width:100%;
}