.faq{
  width:100%;
  padding:120px 130px;
  background:#F8FAFC;
  font-family:"Mulish", sans-serif;
}

.faq-container{
  max-width:1180px;
  margin:auto;
  display:flex;
  gap:154px;
}


/* LEFT */

.faq-left{
  width:426px;
}

.faq-tag{
  background:#E6F6FF;
  padding:8px 18px;
  border-radius:120px;

  font-size:14px;
  font-family:"Mulish", sans-serif;
  color:#222831;

  display:inline-flex;      /* content width */
  align-items:center;
  justify-content:center;

  width:fit-content;        /* extra width हटाएगा */
  align-self:flex-start;
}

.faq-title{
  font-size:46px;
  font-weight:700;
  line-height:60px;
  margin-top:20px;
  color:#222831;
}

.faq-desc{
  font-size:14px;
  line-height:24px;
  margin-top:15px;
  color:#393E46;
}


/* RIGHT */

.faq-right{
  width:600px;
}


/* FAQ ITEM */

.faq-item{
  border:1px solid #EEF9FF;
  padding:20px;
  cursor:pointer;
  transition:0.3s;
  background:#fff;
}

.faq-item.active{
  background:#EDFEFF;
}


/* QUESTION */

.faq-question{
  display:flex;
  justify-content:space-between;
  font-size:16px;
  font-weight:700;
  color:#212429;
}


/* ANSWER */

.faq-answer{
  margin-top:10px;
  font-size:14px;
  color:#393E46;
  line-height:22px;
}

.faq-icon{
  font-size:14px;
}


/* ============================= */
/* PHONE RESPONSIVE */
/* ============================= */

@media (max-width:768px){

.faq{
  padding:60px 20px;
}

.faq-container{
  flex-direction:column;
  gap:40px;
}

/* LEFT */

.faq-left{
  width:100%;
}

.faq-title{
  font-size:32px;
  line-height:42px;
}

.faq-desc{
  font-size:14px;
}

/* RIGHT */

.faq-right{
  width:100%;
}

/* FAQ ITEM */

.faq-item{
  padding:16px;
}

.faq-question{
  font-size:15px;
}

.faq-answer{
  font-size:13px;
  line-height:20px;
}

}