.faq{
  width:100%;
  padding:120px 0;
  background:#fff;
}

.faq-container{
  max-width:1180px;
  margin:auto;

  display:flex;
  align-items:flex-start;
  gap:154px;
}


/* LEFT SIDE */

.faq-left{
  width:426px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.faq-tag{
  display:inline-flex;
  align-items:center;
  justify-content:center;

  padding:6px 16px;
  border-radius:120px;

  background:#E6F6FF;

  font-size:14px;
  font-family:Mulish;
  letter-spacing:0.04em;
  color:#222831;

  width:fit-content;
}

.faq-title{
  font-size:46px;
  font-weight:700;
  font-family:Mulish;
  line-height:60px;
  color:#222831;
}

.faq-desc{
  font-size:14px;
  font-family:Mulish;
  line-height:24px;
  letter-spacing:0.02em;
  color:#222831;
}


/* RIGHT SIDE */

.faq-right{
  width:600px;

  display:flex;
  flex-direction:column;
  align-items:flex-start;

  align-self:stretch;
}


/* FAQ ITEM */

.faq-item{
  width:100%;
  border:1px solid #EEF9FF;
  background:#fff;
  cursor:pointer;

  margin-top:-1px; /* gap:-1px effect */
}


/* QUESTION */

.faq-question{
  height:70px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 20px;

  font-size:16px;
  font-family:Mulish;
  font-weight:700;
  color:#212429;

  letter-spacing:0.04em;
}

.faq-icon{
  font-size:14px;
  color:#666;
}


/* OPEN ITEM */

.faq-item.active{
  background:#EDFEFF;
}

.faq-answer{
  padding:0 20px 20px 20px;

  font-size:14px;
  font-family:Mulish;
  color:#393E46;
  line-height:22px;
  letter-spacing:0.02em;
}