.cards{
width:100%;
padding:80px 120px;
background:#F4F4F4;
font-family:"Mulish", sans-serif;

display:flex;
justify-content:center;
}

/* WRAPPER */

.cards-wrapper{
width:100%;
max-width:1100px;

display:flex;
/* justify-content:space-between; */
gap:200px;
}

/* LEFT SIDE */

.cards-left{
max-width:520px;

display:flex;
flex-direction:column;
gap:20px;
}

.cards-tag{
background:#EBFEFF;
color:#00ADB5;
border:none;

padding:8px 16px;
border-radius:120px;

font-size:14px;
font-weight:600;

width:fit-content;
}

.cards-title{
font-size:46px;
font-weight:700;
line-height:1.2;
color:#222831;
}

.cards-subtitle{
font-size:16px;
line-height:26px;
color:#393E46;
letter-spacing:0.04em;
max-width:420px;
}


/* RIGHT STEPS */

.steps{
display:flex;
flex-direction:column;
gap:28px;
}


/* STEP */

.step-item{
display:flex;
gap:14px;
padding-bottom:12px;

border-bottom:0.6px solid #DFEAF0;

cursor:pointer;

transition:all 0.25s ease;
}


/* NUMBER */

.step-number{
width:28px;
height:28px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

font-size:14px;
font-weight:700;

color:#00ADB5;
border:1px solid #00ADB5;

transition:all 0.25s ease;
}


/* TEXT */

.step-text{
display:flex;
flex-direction:column;
gap:3px;
}

.step-text h3{
font-size:18px;
font-weight:600;
color:#000;
}

.step-text p{
font-size:14px;
color:#000;
letter-spacing:0.04em;
}


/* HOVER EFFECT */

.step-item:hover .step-number{
background:#00ADB5;
color:white;
}

.step-item:hover h3{
color:#00ADB5;
}