.corecap{
background:#ffffff;
padding:120px 0;
font-family:"Mulish",sans-serif;
}

.corecap-container{
max-width:1180px;
margin:auto;
display:flex;
flex-direction:column;
gap:120px;
padding:0 20px;
}


/* HEADER */

.corecap-header{
display:flex;
flex-direction:column;
gap:20px;
/* max-width:760px; */
}

.corecap-tag{
background:#EBFEFF;
color:#00ADB5;
padding:8px 18px;
border-radius:100px;
font-size:14px;
font-weight:600;
width:fit-content;
}

.corecap-title{
font-size:44px;
font-weight:700;
line-height:54px;
color:#1d1d1f;
}

.corecap-desc{
font-size:18px;
line-height:28px;
color:#555;
}


/* ROW */

.corecap-row{
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
}

.corecap-row.reverse{
flex-direction:row-reverse;
}


/* TEXT */

.corecap-text{
display:flex;
width:528px;
flex-direction:column;
align-items:flex-start;
gap:20px;
}


/* PILL */

.corecap-pill{
background:#EBFEFF;
color:#00ADB5;
padding:8px 16px;
border-radius:12px;
font-size:14px;
font-weight:600;
letter-spacing:0.04em;
}


/* TITLE */

.corecap-main-title{
font-size:26px;
font-weight:700;
line-height:38px;
color:#222831;
letter-spacing:0.02em;
max-width:520px;
}

/* Highlight (Row 3 use) */

.corecap-main-title span{
color:#00ADB5;
}


/* SUBTITLE */

.corecap-subtitle{
font-size:20px;
font-weight:500;
color:#333;
margin-top:5px;
}


/* PARAGRAPH TEXT */

.corecap-text p{
font-size:15px;
line-height:26px;
color:#393E46;
max-width:520px;
}


/* LIST */

.corecap-text ul{
display:flex;
flex-direction:column;
gap:10px;
padding:0;
margin:10px 0;
}

.corecap-text li{
display:flex;
align-items:center;
gap:10px;
list-style:none;
font-size:15px;
color:#393E46;
}

.corecap-text li img{
width:16px;
height:16px;
}


/* TAG BUTTONS */

.corecap-tags{
display:flex;
gap:16px;
flex-wrap:wrap;
margin-top:15px;
}

.corecap-tags span{
background:#C2FCFF;
padding:12px 20px;
border-radius:8px;
font-size:15px;
font-weight:500;
color:#00ADB5;
display:inline-flex;
align-items:center;
justify-content:center;
}

.tag-gray{
background:#C7D6DE !important;
color:#222831 !important;
}


/* IMAGE */

.corecap-image{
display:flex;
align-items:center;
justify-content:center;
flex:1;
}

.corecap-image img{
max-width:560px;
width:100%;
height:auto;
object-fit:contain;
}


/* RESPONSIVE */

@media (max-width:1000px){

.corecap-container{
gap:80px;
}

.corecap-row{
flex-direction:column;
gap:40px;
}

.corecap-row.reverse{
flex-direction:column;
}

.corecap-text{
width:100%;
}

.corecap-title{
font-size:32px;
line-height:40px;
}

.corecap-main-title{
font-size:22px;
line-height:32px;
}

.corecap-desc{
font-size:16px;
}

.corecap-text p{
font-size:14px;
}

.corecap-tags{
gap:12px;
}

.corecap-tags span{
padding:10px 16px;
font-size:14px;
}

}