.core{
background:#ffffff;
padding:140px 130px;
font-family:"Mulish",sans-serif;
}


/* CONTAINER */

.core-container{
max-width:1200px;
margin:auto;
display:flex;
flex-direction:column;
gap:120px;
}


/* HEADER */

.core-header{
display:flex;
flex-direction:column;
gap:20px;
max-width:700px;
}

.core-tag{
background:#EBFEFF;
color:#00ADB5;
padding:8px 18px;
border-radius:120px;
font-size:14px;
font-weight:600;
width:max-content;
}

.core-title{
font-size:46px;
font-weight:700;
color:#222831;
line-height:56px;
}

.core-title span{
color:#00ADB5;
}


/* ROW */

.core-row{
display:flex;
align-items:center;
justify-content:space-between;
gap:80px;
}

.core-row.reverse{
flex-direction:row-reverse;
}


/* CONTENT */

.core-content{
flex:1;
display:flex;
flex-direction:column;
gap:16px;
max-width:560px;
}


/* SMALL PILL */

.core-pill{
background:#EBFEFF;
color:#00ADB5;
padding:8px 18px;
border-radius:120px;
font-size:14px;
width:max-content;
}


/* TEXT */

.core-content h3{
font-size:28px;
font-weight:700;
color:#222831;
line-height:36px;
}

.core-content p{
max-width:498px;
font-size:15px;
line-height:26px;
color:#393E46;
}


/* BUTTON FEATURES */

.core-buttons{
display:flex;
gap:16px;
margin-top:10px;
flex-wrap:nowrap;
}

.core-buttons span{
background:#C2FCFF;
padding:12px 20px;
border-radius:8px;
font-size:15px;
font-weight:500;
white-space:nowrap;
}

.core-buttons .light{
background:#C7D6DE;
}


/* ROW 2 BUTTONS */

.row2-buttons{
display:flex;
flex-direction:column;
gap:16px;
margin-top:10px;
}

.row2-top{
display:flex;
gap:16px;
}

.row2-top span{
background:#C2FCFF;
padding:12px 20px;
border-radius:8px;
font-size:15px;
font-weight:500;
white-space:nowrap;
}

.row2-light{
background:#C7D6DE;
padding:12px 20px;
border-radius:8px;
font-size:15px;
font-weight:500;
width:max-content;
}


/* IMAGE */

.core-image{
flex:1;
display:flex;
justify-content:center;
}

.core-image img{
width:100%;
max-width:520px;
}


/* RESPONSIVE */

@media (max-width:900px){

.core{
padding:80px 30px;
}

.core-row{
flex-direction:column;
gap:40px;
}

.core-row.reverse{
flex-direction:column;
}

.core-title{
font-size:34px;
line-height:42px;
}

.core-image img{
max-width:100%;
}

.row2-top{
flex-direction:column;
}

}