.core{
  background:#ffffff;
  padding:120px 130px;
  font-family:"Mulish", sans-serif;
}

/* CONTAINER */

.core-container{
  max-width:1200px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:120px;
}


/* HEADER */

.core-header{
  max-width:900px;
}

.core-tag{
  display:inline-block;
  padding:6px 14px;
  border-radius:20px;
  background:#F3F7FF;
  color:#00ADB5;
  font-size:14px;
  font-weight:600;
  margin-bottom:20px;
}

.core-header h2{
  font-size:46px;
  font-weight:700;
  color:#222831;
  margin-bottom:20px;
  white-space:nowrap;
}

.core-header p{
  font-size:18px;
  color:#393E46;
  line-height:28px;
}


/* ROW */

.core-row{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:80px;
}

.core-row.reverse{
  flex-direction:row-reverse;
}


/* TEXT */

.core-text{
  width:580px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.core-text h3{
  font-size:24px;
  font-weight:700;
  margin-bottom:10px;
  color:#222831;
}

.core-text h4{
  font-size:20px;
  font-weight:500;
  margin-bottom:14px;
  color:#393E46;
}

.core-text p{
  font-size:15px;
  line-height:24px;
  color:#393E46;
  margin-bottom:20px;
}


/* LIST */

.core-text ul{
  display:flex;
  flex-direction:column;
  gap:14px;
  padding:0;
  margin:0;
}

.core-text li{
  list-style:none;
  display:flex;
  align-items:center;
  gap:12px;
  font-size:16px;
  color:#222831;
}

.core-text li img{
  width:18px;
}


/* IMAGE */

.core-image{
  width:540px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.core-image img{
  width:100%;
  height:auto;
  border-radius:12px;
}


/* RESPONSIVE */

@media (max-width:900px){

  .core{
    padding:80px 30px;
  }

  .core-row{
    flex-direction:column;
    gap:40px;
  }

  .core-row.reverse{
    flex-direction:column;
  }

  .core-header h2{
    white-space:normal;
    font-size:34px;
  }

  .core-text{
    width:100%;
  }

  .core-image{
    width:100%;
  }

}