.faqr{
padding:120px 130px;
background:#ffffff;
font-family:"Mulish",sans-serif;
}

/* CONTAINER */

.faqr-container{
display:flex;
max-width:1180px;
width:100%;
align-items:flex-start;
gap:154px;
margin:auto;
}

/* LEFT SIDE */

.faqr-left{
display:flex;
flex-direction:column;
gap:20px;
max-width:426px;
}

.faqr-tag{
background:#E6F6FF;
border:none;
padding:8px 16px;
border-radius:120px;
font-size:14px;
color:#222831;
width:fit-content;
}

.faqr-title{
font-size:46px;
font-weight:700;
line-height:60px;
color:#222831;
}

.faqr-desc{
font-size:14px;
line-height:24px;
color:#222831;
letter-spacing:0.02em;
}

/* RIGHT SIDE */

.faqr-right{
display:flex;
flex-direction:column;
width:100%;
max-width:600px;
}

/* ITEM */

.faqr-item{
border:1px solid #EEF9FF;
background:#ffffff;
padding:20px;
cursor:pointer;
transition:0.3s;
}

.faqr-item.active{
background:#EDFEFF;
}

.faqr-question{
display:flex;
justify-content:space-between;
align-items:center;
font-size:16px;
font-weight:700;
color:#212429;
letter-spacing:0.04em;
}

.faqr-icon{
font-size:14px;
color:#666;
}

.faqr-answer{
margin-top:14px;
font-size:14px;
color:#393E46;
line-height:22px;
letter-spacing:0.02em;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width:1024px){

.faqr{
padding:100px 60px;
}

.faqr-container{
gap:80px;
}

.faqr-title{
font-size:38px;
line-height:50px;
}

}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width:768px){

.faqr{
padding:60px 20px;
}

.faqr-container{
flex-direction:column;
gap:40px;
}

.faqr-left{
max-width:100%;
}

.faqr-title{
font-size:30px;
line-height:38px;
}

.faqr-desc{
font-size:13px;
line-height:20px;
}

.faqr-right{
max-width:100%;
}

.faqr-item{
padding:16px;
}

.faqr-question{
font-size:15px;
gap:10px;
}

.faqr-answer{
font-size:13px;
line-height:20px;
}

}