.faqr{
padding:120px 130px;
background:#ffffff;
font-family:"Mulish",sans-serif;
}

/* CONTAINER */

.faqr-container{
display:flex;
width:1180px;
align-items:flex-start;
gap:154px;
margin:auto;
}

/* LEFT SIDE */

.faqr-left{
display:flex;
flex-direction:column;
gap:20px;
width:426px;
}

.faqr-tag{
background:#E6F6FF;
border:none;
padding:8px 16px;
border-radius:120px;
font-size:14px;
color:#222831;
width:fit-content;
}

.faqr-title{
font-size:46px;
font-weight:700;
line-height:60px;
color:#222831;
}

.faqr-desc{
font-size:14px;
line-height:24px;
color:#222831;
letter-spacing:0.02em;
}

/* RIGHT SIDE */

.faqr-right{
display:flex;
flex-direction:column;
width:600px;
}

/* ITEM */

.faqr-item{
border:1px solid #EEF9FF;
background:#ffffff;
padding:20px;
cursor:pointer;
}

.faqr-item.active{
background:#EDFEFF;
}

.faqr-question{
display:flex;
justify-content:space-between;
align-items:center;
font-size:16px;
font-weight:700;
color:#212429;
letter-spacing:0.04em;
}

.faqr-icon{
font-size:14px;
color:#666;
}

.faqr-answer{
margin-top:14px;
font-size:14px;
color:#393E46;
line-height:22px;
letter-spacing:0.02em;
}