.last{
width:100%;
background:#081819;
padding:60px 130px;
font-family:"Mulish", sans-serif;
display:flex;
justify-content:center;
}

/* CONTAINER */

.last-container{
width:100%;
max-width:1180px;
display:flex;
flex-direction:column;
gap:20px;
}

/* CONTENT */

.last-content{
display:flex;
flex-direction:column;
gap:10px;
max-width:900px;
}

/* TITLE */

.last-title{
color:#fff;
font-size:36px;
font-weight:700;
letter-spacing:0.02em;
}

/* TEXT */

.last-text{
color:#ffffff;
opacity:0.7;
font-size:16px;
line-height:26px;
letter-spacing:0.02em;
max-width:887px;
}

/* BUTTON */

.last-btn{
margin-top:10px;
display:flex;
align-items:center;
justify-content:center;
gap:10px;
width:260px;
height:56px;
background:#00ADB5;
border:none;
border-radius:8px;
cursor:pointer;
color:#fff;
font-size:16px;
letter-spacing:0.04em;
transition:0.2s ease;
}

.last-btn img{
width:18px;
height:18px;
}

/* HOVER */

.last-btn:hover{
background:#00979e;
}

/* ================= */
/* TABLET */
/* ================= */

@media (max-width:1024px){

.last{
padding:60px 60px;
}

.last-title{
font-size:32px;
}

.last-text{
font-size:15px;
}

}

/* ================= */
/* MOBILE */
/* ================= */

@media (max-width:768px){

.last{
padding:50px 20px;
}

.last-title{
font-size:26px;
line-height:34px;
}

.last-text{
font-size:14px;
line-height:22px;
}

.last-btn{
width:220px;
height:50px;
font-size:14px;
}

}