.outcome{
padding:120px 130px;
font-family:"Mulish", sans-serif;
background:#fff;
}

.outcome-container{
max-width:1200px;
margin:auto;
display:flex;
flex-direction:column;
}


/* HEADING */

.outcome-heading{
font-size:46px;
font-weight:700;
color:#222831;
margin-bottom:40px;
}

.highlight{
color:#00ADB5;
}


/* SLIDES CONTAINER */

.slides-container{
display:flex;
flex-direction:column;

height:calc(100vh - 120px);

overflow-y:scroll;

scroll-snap-type:y mandatory;
scroll-behavior:smooth;
}


/* HIDE SCROLLBAR */

.slides-container::-webkit-scrollbar{
display:none;
}


/* SLIDE */

.slide{
display:flex;
justify-content:space-between;
align-items:center;

height:100vh;

padding:60px 0;

border-top:1px solid #D1DEE5;

scroll-snap-align:start;
}


/* TEXT */

.slide-text{
max-width:420px;
}

.slide-text h3{
font-size:24px;
font-weight:700;
margin-bottom:15px;
color:#222831;
}

.slide-text p{
font-size:14px;
line-height:24px;
color:#393E46;
}


/* IMAGE */

.slide-image{
display:flex;
justify-content:center;
align-items:center;
}

.image-placeholder{
width:720px;
height:480px;
background:#C7D6DE;
border-radius:10px;

display:flex;
align-items:center;
justify-content:center;

font-size:28px;
color:rgba(0,0,0,0.2);
}