.outcome{
padding:120px 0;
font-family:"Mulish",sans-serif;
background:#ffffff;
}

.outcome-container{
width:1180px;
max-width:95%;
margin:auto;
display:flex;
flex-direction:column;
gap:80px;
}


/* HEADER */

.outcome-header{
display:flex;
flex-direction:column;
gap:16px;
}

.outcome-tag{
padding:0 18px;
height:36px;
border:none;
border-radius:120px;
background:#E6F6FF;
font-size:14px;
/* font-weight:600; */
width:max-content;
}

.outcome-title{
font-size:46px;
font-weight:700;
line-height:60px;
/* max-width:760px; */
}
.outcome-title span{
color:#00ADB5;
}


/* CARDS WRAPPER */

.outcome-cards{
position:relative;
height:600px;
}


/* STACK CARDS */

.outcome-row{

position:absolute;
top:-90px;
left:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:flex-start;

gap:80px;

padding:60px;

background:#fff;
border-radius:20px;

/* shadow remove */
box-shadow:none;
}


/* TEXT */

.outcome-text{
width:420px;
display:flex;
flex-direction:column;
gap:18px;
}

.outcome-text h3{
font-size:24px;
font-weight:700;
color:#222831;
}

.outcome-text p{
font-size:15px;
line-height:26px;
color:#393E46;
}


/* IMAGE */

.image-box{
width:620px;
height:420px;

border-radius:14px;
background:#C7D6DE;

display:flex;
justify-content:center;
align-items:center;

font-size:28px;
color:rgba(0,0,0,0.2);
}

.image-box.light{
background:#E9F3F8;
}