*{
  box-sizing:border-box;
}

.outcome{
  padding:120px 0;
  font-family:"Mulish", sans-serif;
  background:#ffffff;
}

/* CONTAINER */

.outcome-container{
  width:1180px;
  max-width:95%;
  margin:auto;

  display:flex;
  flex-direction:column;
  gap:80px;
}


/* ================= HEADER ================= */

.outcome-header{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.outcome-tag{
  padding:0 18px;
  height:36px;

  display:inline-flex;
  align-items:center;

  border-radius:120px;
  background:#E6F6FF;

  font-size:14px;
  font-weight:600;

  width:max-content;
}

.outcome-title{
  font-size:46px;
  font-weight:700;
  line-height:60px;
  color:#111;
}

.outcome-title span{
  color:#00ADB5;
}


/* ================= CARDS ================= */

.outcome-cards{
  display:flex;
  flex-direction:column;
  gap:60px;
}


/* SINGLE CARD */

.outcome-row{
 display:flex;
  justify-content:space-between;
  align-items:flex-start;

  gap:80px;
  padding:60px;

  background:#ffffff;
  border-radius:20px;

  box-shadow:0 10px 30px rgba(0,0,0,0.05);
  transition:0.3s ease;
}

/* HOVER EFFECT */

.outcome-row:hover{
  transform:translateY(-6px);
  box-shadow:0 20px 40px rgba(0,0,0,0.08);
}


/* ================= TEXT ================= */

.outcome-text{
  width:420px;

  display:flex;
  flex-direction:column;
  gap:18px;
}

.outcome-text h3{
  font-size:24px;
  font-weight:700;
  color:#222831;
}

.outcome-text p{
  font-size:15px;
  line-height:26px;
  color:#393E46;
}


/* ================= IMAGE ================= */

.image-box{
  width:620px;
  height:420px;

  border-radius:14px;
  background:#C7D6DE;

  display:flex;
  justify-content:center;
  align-items:center;

  overflow:hidden;
}

.image-box.light{
  background:#E9F3F8;
}

.image-box img{
  width:100%;
  height:100%;
  object-fit:contain;
  display:block;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 1024px){

  .outcome-row{
    gap:40px;
    padding:40px;
  }

  .image-box{
    width:100%;
    height:320px;
  }

  .outcome-text{
    width:100%;
  }
}

@media (max-width: 768px){

  .outcome{
    padding:80px 0;
  }

  .outcome-container{
    gap:50px;
  }

  .outcome-title{
    font-size:30px;
    line-height:40px;
  }

  .outcome-cards{
    gap:40px;
  }

  .outcome-row{
    flex-direction:column;
    align-items:flex-start;
    gap:30px;
    padding:30px 20px;
  }

  .outcome-text{
    width:100%;
  }

  .outcome-text h3{
    font-size:20px;
  }

  .outcome-text p{
    font-size:14px;
    line-height:24px;
  }

  .image-box{
    width:100%;
    height:250px;
  }
}